{% raw %}
<div ng-controller="MarkerController">
    <div class="form-group">
    <ng-form name="markerForm" ng-show="model">
        <uib-tabset vertical="true" type="pills">
            <uib-tab heading="Описание">
                <div class="marker-container">
                        <div ng-show="model">
                        <b>{{ model.published_date | date: "d.MM.yyyy 'в' HH:mm"}}</b>
                        пользователь <b>{{ model.owner }}</b> сообщил:
                        </div>
                        <textarea ng-model="model.desc" rows="4" style="resize:none" class="form-control custom-control"/>
                </div>
            </uib-tab>

            <uib-tab heading="Изображения ({{slides.length}})">
                <div class="marker-container">
                    <ul rn-carousel rn-carousel-controls rn-carousel-index="carouselIndex" rn-carousel-buffered class="carousel1">
                        <li ng-repeat="slide in slides track by slide.id" ng-class="'id-' + slide.id">
                            <div ng-style="{'background-image': 'url(' + slide.img + ')'}" ng-dblClick="open(slide.origin)" class="bgimage">
                                #{{ slide.id }}
                            </div>
                        </li>
                    </ul>
                </div>
            </uib-tab>

            <uib-tab heading="Добавить">
                <div class="marker-container">
                    <img ng-show="markerForm.file.$valid" ngf-thumbnail="obj.upload_images[0]" class="thumbnail">
                    <input type="file"
                         ngf-select
                         ng-model="obj.upload_images"
                         name="file"
                         ngf-multiple="true"
                         ngf-pattern="'image/*'"
                         ngf-accept="'image/*'"
                         ngf-max-size="20MB">
                    </input>
                    <!-- <button ng-click="obj.image = null" ng-show="obj.image">Удалить</button> -->
                </div>
            </uib-tab>
        </uib-tabset>

        <button type="button" class="btn btn-primary" ng-click="submit()">OK</button>
        <button type="button" class="btn btn-primary" ng-click="cancel()">Отмена</button>

        <div class="btn-group pull-right" uib-dropdown dropdown-append-to-body>
            <button id="btn-append-to-body" type="button" class="btn" uib-dropdown-toggle>
            <i class="fa fa-map-marker fa-fw"></i> Маркер <span class="caret"></span>
            </button>
            <ul uib-dropdown-menu role="menu" aria-labelledby="btn-append-to-body">
                <li role="menuitem">
                    <a href="#">
                        <div ng-click="setColor('red')"><i class="fa fa-circle fa-fw" style="color:red;"></i>&nbsp;</div>
                    </a>
                </li>
                <li role="menuitem">
                    <a href="#">
                        <div ng-click="setColor('yellow')"><i class="fa fa-circle fa-fw" style="color:yellow;"></i>&nbsp;</div>
                    </a>
                </li>
                <li role="menuitem">
                    <a href="#">
                        <div ng-click="setColor('green')"><i class="fa fa-circle fa-fw" style="color:green;"></i>&nbsp;</div>
                    </a>
                </li>
                <li class="divider"></li>
                <li role="menuitem">
                    <a href="#"><div ng-show="model.status=='not_active'" ng-click="setStatus('active')">Восстановить</div></a>
                    <a href="#"><div ng-show="model.status=='active'" ng-click="setStatus('not_active')">Удалить</div></a>
                </li>
            </ul>
        </div>
    </ng-form>
    </div>
</div>
{% endraw %}