{% raw %}
<div ng-controller="MarkerController">
    <div>Событие №{{ model.event_id }}</div>
    <div>Пользователь: {{ model.owner }}</div>
    <div>Дата: {{ model.published_date | date: "d.MM.yyyy HH:mm"}}</div>
    <div>Выборы: {{ (model.election_type | election_as_string) || "не заданы" }}</div>
    <div>Округи: {{ (model.group | group_as_string) || "не заданы" }}</div>
    <div>Партия: {{ (model.party | party_as_string) || "не задана" }}</div>
    <div>Событие: {{ ((model.subtype || model.type) | type_as_string) || "не задано" }}</div>
    <div ng-if="model.desc">&nbsp;</div>
    <div ng-if="model.desc">{{ model.desc }}</div>
</div>
{% endraw %}