<div id="sidebar" class="sidebar sidebar-left collapsed">
    <!-- Nav tabs -->
    <div class="sidebar-tabs">
        <ul role="tablist">
            <li><a href="#profile" role="tab"><i class="fa fa-user"></i></a></li>
            <li><a href="#filters" role="tab"><i class="fa fa-filter"></i></a></li>
            <li><a href="#description" role="tab"><i class="fa fa-info"></i></a></li>
            <li><a href="#report" role="tab"><i class="fa fa-download"></i></a></li>
            <li class="disabled"><a href="#messages" role="tab"><i class="fa fa-envelope"></i></a></li>
        </ul>

        <ul role="tablist">
            <li><a href="#settings" role="tab"><i class="fa fa-gear"></i></a></li>
        </ul>
    </div>

    <!-- Tab panes -->
    <div class="sidebar-content">
        {% include 'public/components/sidebar/tabs/filters.html' %}
        {% include 'public/components/sidebar/tabs/profile.html' %}
        {% include 'public/components/sidebar/tabs/description.html' %}
        {% include 'public/components/sidebar/tabs/report.html' %}
        {% include 'public/components/sidebar/tabs/messages.html' %}
        {% include 'public/components/sidebar/tabs/settings.html' %}
    </div>
</div>