{% raw %}
<div id="description" class="sidebar-pane" ng-controller="MarkerController" ng-cloak>
    <h1 class="sidebar-header">Событие №{{ model.event_id }}<span class="sidebar-close"><i class="fa fa-caret-left"></i></span></h1>

    <div>&nbsp;</div>
    <div>Добавлено <b>{{ model.published_date | date: "d.MM.yyyy 'в' HH:mm" }}</b> пользователем <b>{{ model.owner }}</b></div>
    <div>&nbsp;</div>
    <md-divider/>

    <md-radio-group ng-model="model.color" layout="row">
        <md-radio-button value="red" class="md-primary" ng-disabled="isNotPermit('event.update_color')">
            <i class="fa fa-circle fa-fw" style="color:red;"></i>&nbsp;
        </md-radio-button>
        <md-radio-button value="yellow" class="md-primary" ng-disabled="isNotPermit('event.update_color')">
            <i class="fa fa-circle fa-fw" style="color:yellow;"></i>&nbsp;
        </md-radio-button>
        <md-radio-button value="green" class="md-primary" ng-disabled="isNotPermit('event.update_color')">
            <i class="fa fa-circle fa-fw" style="color:green;"></i>&nbsp;
        </md-radio-button>
    </md-radio-group>
    <div>&nbsp;</div>
    <md-divider/>

    <!-- Уровень выборов -->
    <div>&nbsp;</div>
    <div layout="raw">
        <md-checkbox ng-repeat="election in elections" ng-checked="isElectionType(election.value)" ng-click="setElectionType(election.value)" ng-disabled="isNotPermit('event.update')" class="md-primary">{{ election.name }}</md-checkbox>
    </div>

    <div layout="raw">
        <md-input-container style="margin-right: 10px;">
            <md-select ng-model="group1" ng-disabled="isNotPermit('event.update')">
                <!-- <md-option ng-repeat="(groupname, group) in groups" value="{{groupname}}">{{groupname}}</md-option> -->
                <md-option value="129">Округ 129</md-option>
                <md-option value="130">Округ 130</md-option>
                <md-option value="131">Округ 131</md-option>
                <md-option value="132">Округ 132</md-option>
                <md-option value="133">Округ 133</md-option>
            </md-select>
        </md-input-container>

        <md-input-container style="margin-right: 10px;">
            <md-select ng-model="group2" ng-disabled="isNotPermit('event.update')">
                <!-- <md-option ng-repeat="(groupname, group) in groups" value="{{groupname}}">{{groupname}}</md-option> -->
                <md-option value="1" ng-if="group1=='131'">Округ 1</md-option>
                <md-option value="2" ng-if="group1=='131'">Округ 2</md-option>
                <md-option value="3" ng-if="group1=='130'">Округ 3</md-option>
                <md-option value="4" ng-if="group1=='132'">Округ 4</md-option>
                <md-option value="5" ng-if="group1=='133'">Округ 5</md-option>
                <md-option value="6" ng-if="group1=='132'">Округ 6</md-option>
                <md-option value="7" ng-if="group1=='129'">Округ 7</md-option>
                <md-option value="8" ng-if="group1=='129'">Округ 8</md-option>
                <md-option value="9" ng-if="group1=='130'">Округ 9</md-option>
                <md-option value="10" ng-if="group1=='132'">Округ 10</md-option>
                <md-option value="11" ng-if="group1=='132'">Округ 11</md-option>
                <md-option value="12" ng-if="group1=='131'">Округ 12</md-option>
                <md-option value="13" ng-if="group1=='131'">Округ 13</md-option>
                <md-option value="14" ng-if="group1=='131'">Округ 14</md-option>
                <md-option value="15" ng-if="group1=='130'">Округ 15</md-option>
                <md-option value="16" ng-if="group1=='130'">Округ 16</md-option>
                <md-option value="17" ng-if="group1=='130'">Округ 17</md-option>
                <md-option value="18" ng-if="group1=='129'">Округ 18</md-option>
                <md-option value="19" ng-if="group1=='129'">Округ 19</md-option>
                <md-option value="20" ng-if="group1=='129'">Округ 20</md-option>
                <md-option value="21" ng-if="group1=='132'">Округ 21</md-option>
                <md-option value="22" ng-if="group1=='133'">Округ 22</md-option>
                <md-option value="23" ng-if="group1=='133'">Округ 23</md-option>
                <md-option value="24" ng-if="group1=='133'">Округ 24</md-option>
                <md-option value="25" ng-if="group1=='133'">Округ 25</md-option>
            </md-select>
        </md-input-container>
    </div>
    <md-divider/>

    <!-- Политическая партия -->
    <div>&nbsp;</div>
    <md-radio-group ng-model="model.party">
        <md-radio-button ng-repeat="party in parties" ng-disabled="isNotPermit('event.update')" value="{{ party.value }}" class="md-primary">{{ party.name }}</md-radio-button>
    </md-radio-group>
    <md-divider/>

    <div>&nbsp;</div>
    <div>
        <md-checkbox class="md-primary" ng-disabled="isNotPermit('event.update')" ng-checked="isType(1)" ng-click="setType(1, false)">
            Наглядная агитация
        </md-checkbox>
        <div ng-show="isType(1)" style="margin-left: 30px">
            <md-radio-group ng-model="model.subtype">
                <md-radio-button value="1-01" ng-disabled="isNotPermit('event.update')" class="md-primary">Билборды</md-radio-button>
                <md-radio-button value="1-02" ng-disabled="isNotPermit('event.update')" class="md-primary">Плакаты</md-radio-button>
                <md-radio-button value="1-03" ng-disabled="isNotPermit('event.update')" class="md-primary">Газеты и АПМ</md-radio-button>
                <md-radio-button value="1-04" ng-disabled="isNotPermit('event.update')" class="md-primary">Прочее</md-radio-button>
            </md-radio-group>
            <!-- <textarea name="desc" ng-model="model.desc" rows="4" style="width: 100%"></textarea> -->
        </div>
    </div>

    <div>
        <md-checkbox class="md-primary" ng-disabled="isNotPermit('event.update')" ng-checked="isType(2)" ng-click="setType(2, false)">
            Массовые мероприятия
        </md-checkbox>
        <div ng-show="isType(2)" style="margin-left: 30px">
            <md-radio-group ng-model="model.subtype">
                <md-radio-button value="2-01" ng-disabled="isNotPermit('event.update')" class="md-primary">Встреча</md-radio-button>
                <md-radio-button value="2-02" ng-disabled="isNotPermit('event.update')" class="md-primary">Митинг</md-radio-button>
                <md-radio-button value="2-03" ng-disabled="isNotPermit('event.update')" class="md-primary">Праздник</md-radio-button>
                <md-radio-button value="2-05" ng-disabled="isNotPermit('event.update')" class="md-primary">Пикет</md-radio-button>
                <md-radio-button value="2-04" ng-disabled="isNotPermit('event.update')" class="md-primary">Прочее</md-radio-button>
            </md-radio-group>
            <!-- <textarea name="desc" ng-model="model.desc" rows="4" style="width: 100%"></textarea> -->
        </div>
    </div>

    <div>
        <md-checkbox class="md-primary" ng-disabled="isNotPermit('event.update')" ng-checked="isType(3)" ng-click="setType(3, true)">
            Работа ЛОМов
        </md-checkbox>
    </div>

    <div>
        <md-checkbox class="md-primary" ng-disabled="isNotPermit('event.update')" ng-checked="isType(4)" ng-click="setType(4, true)">
            Подкуп избирателей
        </md-checkbox>
    </div>

    <div>
        <md-checkbox class="md-primary" ng-disabled="isNotPermit('event.update')" ng-checked="isType(5)" ng-click="setType(5, true)">
            Постоянные точки
        </md-checkbox>
        <div ng-show="isType(5)" style="margin-left: 30px">
            <md-radio-group ng-model="model.subtype">
                <md-radio-button value="5-01" ng-disabled="isNotPermit('event.update')" class="md-primary">Штаб</md-radio-button>
                <md-radio-button value="5-02" ng-disabled="isNotPermit('event.update')" class="md-primary">Склад</md-radio-button>
                <md-radio-button value="5-03" ng-disabled="isNotPermit('event.update')" class="md-primary">Место встречи с агитаторами</md-radio-button>
                <md-radio-button value="5-04" ng-disabled="isNotPermit('event.update')" class="md-primary">Место встречи с избирателями</md-radio-button>
                <md-radio-button value="5-05" ng-disabled="isNotPermit('event.update')" class="md-primary">Прочее</md-radio-button>
            </md-radio-group>
        </div>
    </div>

    <div>
        <md-checkbox class="md-primary" ng-disabled="isNotPermit('event.update')" ng-checked="isType(6)" ng-click="setType(6, true)">
            Прочее
        </md-checkbox>
    </div>

    <md-divider/>
    <!-- <md-input-container> -->
        <label>Описание:</label>
        <br>
        <textarea name="desc" ng-model="model.desc" ng-disabled="isNotPermit('event.description')" rows="4" style="width: 100%"></textarea>
    <!-- </md-input-container> -->

    <md-divider/>
    <!-- <md-input-container> -->
        <label>Комментарий:</label>
        <br>
        <textarea ng-model="model.comment" ng-disabled="isNotPermit('event.comment')" rows="4" style="width: 100%"></textarea>

    <md-divider/>
    <!-- <div class="marker-container"> -->
    <div ng-show='slides.length'>
        <label>Фото:</label>
        <uib-carousel interval="myInterval" no-wrap="noWrapSlides">
            <uib-slide ng-repeat="slide in slides" active="slide.active" index="slide.id">
                <img ng-src="{{slide.img}}" style="margin:auto;" ng-dblClick="open(slide.origin)">
                <div class="carousel-caption">
                  <h4>#{{slide.id}}</h4>
                  <!-- <p>{{slide.text}}</p> -->
                </div>
            </uib-slide>
        </uib-carousel>
    </div>

    <div>&nbsp;</div>
    <div>
            <md-button type="file"
                 ngf-select
                 ng-model="obj.upload_images"
                 name="file"
                 ngf-multiple="true"
                 ngf-pattern="'image/*'"
                 ngf-accept="'image/*'"
                 ngf-max-size="20MB"
                 class="md-fab md-fab-bottom-right right" aria-label="Фото" style="z-index: 3000;"
                 ng-disabled="isNotPermit('event.photo')">
                <md-icon md-font-icon="fa fa-picture-o" class="fa s32 md-primary md-hue-2" style="font-size:24px;"></md-icon>
                <md-tooltip>Добавить новое фото</md-tooltip>
            </md-button>
    </div>
    <div>&nbsp;</div>
    <div>&nbsp;</div>
    <div>&nbsp;</div>
    <div>&nbsp;</div>
    <div>&nbsp;</div>
    <div>&nbsp;</div>
    <div>&nbsp;</div>
    <div>&nbsp;</div>
    <div>&nbsp;</div>
    <div>&nbsp;</div>
    <div>&nbsp;</div>
    <div>&nbsp;</div>
    <md-button class="md-raised md-primary sidebar-close">OK</md-button>
    <md-button class="md-raised" ng-show="model.status=='active'" ng-click="setStatus('not_active')" ng-disabled="false">Удалить</md-button>
    <md-button class="md-raised" ng-show="model.status=='not_active'" ng-click="setStatus('active')" ng-disabled="false">Восстановить</md-button>
</div>
{% endraw %}