{% raw %}
<div id="filters" class="sidebar-pane" ng-controller="filtersController" ng-cloak>
    <h1 class="sidebar-header">Фильтрация<span class="sidebar-close"><i class="fa fa-caret-left"></i></span></h1>

    <label>По дате создания:</label>
    <md-input-container id="daterange">
        <md-select ng-model="params.date.range">
            <md-option value="{{range.value}}" ng-repeat="range in ranges">{{ range.name }}</md-option>
        </md-select>
    </md-input-container>

    <md-datepicker
        ng-model="params.date.custom.after"
        md-placeholder="Дата с..."
        ng-hide="params.date.range != 'custom'"></md-datepicker>
    <md-datepicker
        ng-model="params.date.custom.before"
        md-placeholder="Дата по..."
        ng-hide="params.date.range != 'custom'"></md-datepicker>

    <md-divider/>
    <label>По номеру события:</label>
    <md-input-container class="md-icon-float md-block">
        <input ng-model="params.event_id" type="text">
    </md-input-container>

    <md-divider/>
    <label>По цвету:</label>
    <md-input-container layout="row">
        <md-checkbox ng-model="params.colors.other" class="md-primary">
            <i class="fa fa-circle-o fa-fw"></i>&nbsp;
        </md-checkbox>
        <md-checkbox ng-model="params.colors.red" class="md-primary">
            <i class="fa fa-circle fa-fw" style="color:red;"></i>&nbsp;
        </md-checkbox>
        <md-checkbox ng-model="params.colors.yellow" class="md-primary">
            <i class="fa fa-circle fa-fw" style="color:yellow;"></i>&nbsp;
        </md-checkbox>
        <md-checkbox ng-model="params.colors.green" class="md-primary">
            <i class="fa fa-circle fa-fw" style="color:green;"></i>&nbsp;
        </md-checkbox>
    </md-input-container>

    <md-divider/>
    <label>По уровню выборов:</label>
    <div ng-repeat="election in elections">
        <md-checkbox class="md-primary" ng-checked="isElectionSet(election.value)" ng-click="changeElection(election.value)">
            {{ election.name }}
        </md-checkbox>
    </div>

    <md-divider/>
    <label>По политической партии:</label>
    <div ng-repeat="party in parties">
        <md-checkbox class="md-primary" ng-checked="isPartySet(party.value)" ng-click="changeParty(party.value)">
            {{ party.name }}
        </md-checkbox>
    </div>

    <md-divider/>
    <label>По избирательным округам:</label>
    <div ng-repeat="(name, group) in groups">
        <md-checkbox class="md-primary" ng-checked="isGroupSet(name)" ng-click="changeGroup(name)">
            {{ name }}
        </md-checkbox>
        <md-input-container layout="row" style="margin-left: 20px">
            <md-checkbox ng-repeat="subgroup in group.subgroups" class="md-primary" ng-checked="isGroupSet(subgroup)" ng-click="changeGroup(subgroup)" >
                {{ subgroup }}
            </md-checkbox>
        </md-input-container>
    </div>

    <md-divider/>
    <label>По типу событий:</label>
    <div>
        <md-checkbox class="md-primary" ng-checked="isTypeSet('0')" ng-click="changeType('0')">Не задан</md-checkbox>
    </div>
    <div>
        <md-checkbox class="md-primary" ng-checked="isTypeSet('1')" ng-click="changeType('1')">Наглядная агитация</md-checkbox>
        <div style="margin-left: 20px">
            <div>
                <md-checkbox class="md-primary" ng-checked="isSubtypeSet('1-00')" ng-click="changeSubtype('1-00')">Не задан</md-checkbox>
            </div>
            <div>
                <md-checkbox class="md-primary" ng-checked="isSubtypeSet('1-01')" ng-click="changeSubtype('1-01')">Билборды</md-checkbox>
            </div>
            <div>
                <md-checkbox class="md-primary" ng-checked="isSubtypeSet('1-02')" ng-click="changeSubtype('1-02')">Плакаты</md-checkbox>
            </div>
            <div>
                <md-checkbox class="md-primary" ng-checked="isSubtypeSet('1-03')" ng-click="changeSubtype('1-03')">Газеты и АПМ</md-checkbox>
            </div>
            <div>
                <md-checkbox class="md-primary" ng-checked="isSubtypeSet('1-04')" ng-click="changeSubtype('1-04')">Прочее</md-checkbox>
            </div>
        </div>
    </div>
    <div>
        <md-checkbox class="md-primary" ng-checked="isTypeSet('2')" ng-click="changeType('2')">Массовые мероприятия</md-checkbox>
        <div style="margin-left: 20px">
            <div>
                <md-checkbox class="md-primary" ng-checked="isSubtypeSet('2-00')" ng-click="changeSubtype('2-00')">Не задан</md-checkbox>
            </div>
            <div>
                <md-checkbox class="md-primary" ng-checked="isSubtypeSet('2-01')" ng-click="changeSubtype('2-01')">Встреча</md-checkbox>
            </div>
            <div>
                <md-checkbox class="md-primary" ng-checked="isSubtypeSet('2-02')" ng-click="changeSubtype('2-02')">Митинг</md-checkbox>
            </div>
            <div>
                <md-checkbox class="md-primary" ng-checked="isSubtypeSet('2-03')" ng-click="changeSubtype('2-03')">Праздник</md-checkbox>
            </div>
            <div>
                <md-checkbox class="md-primary" ng-checked="isSubtypeSet('2-05')" ng-click="changeSubtype('2-05')">Пикет</md-checkbox>
            </div>
            <div>
                <md-checkbox class="md-primary" ng-checked="isSubtypeSet('2-04')" ng-click="changeSubtype('2-04')">Прочее</md-checkbox>
            </div>
        </div>
    </div>
    <div>
        <md-checkbox class="md-primary" ng-checked="isTypeSet('3')" ng-click="changeType('3')">Работа ЛОМов</md-checkbox>
    </div>
    <div>
        <md-checkbox class="md-primary" ng-checked="isTypeSet('4')" ng-click="changeType('4')">Подкуп избирателей</md-checkbox>
    </div>
    <div>
        <md-checkbox class="md-primary" ng-checked="isTypeSet('5')" ng-click="changeType('5')">Постоянные точки</md-checkbox>
        <div style="margin-left: 20px">
            <div>
                <md-checkbox class="md-primary" ng-checked="isSubtypeSet('5-00')" ng-click="changeSubtype('5-00')">Не задан</md-checkbox>
            </div>
            <div>
                <md-checkbox class="md-primary" ng-checked="isSubtypeSet('5-01')" ng-click="changeSubtype('5-01')">Штаб</md-checkbox>
            </div>
            <div>
                <md-checkbox class="md-primary" ng-checked="isSubtypeSet('5-02')" ng-click="changeSubtype('5-02')">Склад</md-checkbox>
            </div>
            <div>
                <md-checkbox class="md-primary" ng-checked="isSubtypeSet('5-03')" ng-click="changeSubtype('5-03')">Место встречи с агитаторами</md-checkbox>
            </div>
            <div>
                <md-checkbox class="md-primary" ng-checked="isSubtypeSet('5-04')" ng-click="changeSubtype('5-04')">Место встречи с избирателями</md-checkbox>
            </div>
            <div>
                <md-checkbox class="md-primary" ng-checked="isSubtypeSet('5-05')" ng-click="changeSubtype('5-05')">Прочее</md-checkbox>
            </div>
        </div>
    </div>
    <div>
        <md-checkbox class="md-primary" ng-checked="isTypeSet('6')" ng-click="changeType('6')">Прочее</md-checkbox>
    </div>

    <md-button class="md-raised md-primary sidebar-close">OK</md-button>
</div>
{% endraw %}