{% raw %}
<div id="report" class="sidebar-pane" ng-controller="reportController" ng-cloak>
    <h1 class="sidebar-header">Отчёт<span class="sidebar-close"><i class="fa fa-caret-left"></i></span></h1>

    <md-button class="md-raised md-primary sidebar-close" ng-click='createReport()' ng-disabled="isNotPermit('report.create')">Excel</md-button>
</div>
{% endraw %}