{% raw %}
<div id="alert" ng-controller="alertController">
    <script type="text/ng-template" id="alert.html">
        <div class="alert" style="background-color:#fa39c3;color:white" role="alert">
            <div ng-transclude></div>
        </div>
    </script>

    <uib-alert
        ng-repeat="alert in alerts"
        type="{{alert.type}}"
        close="closeAlert($index)"
        dismiss-on-timeout="{{alert.timeout || default_timeout}}">
        {{alert.message}}
    </uib-alert>
</div>
{% endraw %}
