{% raw %}
<!-- Проблема с Яндекс.Картой: подложка сдвигается при открытии табов -->
<!-- <div id="map" class="sidebar-map" ng-controller="mapController">  -->
<!-- Такой вариант работает, но sidebar перекрывает кнопки изменения масштаба -->
<div id="map" ng-controller="mapController"> 
    <leaflet
        lf-center="nnovgorod"
        maxbounds="maxbounds"
        markers="markers"
        layers="layers"
        geojson="geojson"
        controls="controls"
        event-broadcast="events"
        defaults="defaults"
        height="100%">
    </leaflet>
</div>
{% endraw %}