/* =============================================================================
   App specific CSS file.
   ========================================================================== */

/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.container-narrow{
  margin: 0 auto;
  max-width: 700px;
}

/* Forms */

.navbar-form input[type="text"],
.navbar-form input[type="password"] {
  width: 180px;
}


.form-register {
  width: 50%;
}

.form-register .form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #999999;
}

footer a {
  color: #999999;
}

footer p {
  float: right;
  margin-right: 25px;
}

footer ul {
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 10px;
}

footer .company {
  float: left;
  margin-left: 25px;
}

footer .footer-nav {
  float: right;
  margin-right: 25px;
  list-style: none;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.fullscreen {
    width: 100%;
    height: 100%;
    position: relative;
}

#map {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    /*z-index: 1;*/
}

#alert {
    /*margin-bottom: 0px;*/
    position: absolute;
    bottom: 10px;
    left: 60px;
    width: 360px;
    min-width: 360px;
    /*height: 5px;*/
    z-index: 100;
    opacity: 0.85;
/*
    overflow-y: scroll;
    overflow-x: scroll;
*/
}

/*Angular-UI-Bootstrap support*/
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }


/* Превью загружаемой картинки */
.thumbnail {
    width: 400px;
    max-width: 400px;
    max-height: 400px;
    line-height: 20px;
    margin-bottom: 5px;
  }

/*.thumb {
    width: 24px;
    height: 24px;
    float: none;
    position: relative;
    top: 7px;
}
*/
/*
 * These CSS rules affect the tooltips within maps with the custom-popup
 * class. See the full CSS for all customizable options:
 * https://github.com/mapbox/mapbox.js/blob/001754177f3985c0e6b4a26e3c869b0c66162c99/theme/style.css#L321-L366
 */
/* popup */
/*.leaflet-popup {
  position:absolute;
  text-align:center;
  pointer-events:none;
  }
.leaflet-popup-content-wrapper {
  padding:1px;
  text-align:left;
  pointer-events:all;
  }
.leaflet-popup-content {
  padding:10px 10px 15px;
  margin:0;
  line-height:inherit;
  }
.leaflet-popup-tip-container {
  width:20px;
  height:20px;
  margin:0 auto;
  position:relative;
  }
.leaflet-popup-tip {
  width:0;
  height:0;
  margin:0;
  border-left:10px solid transparent;
  border-right:10px solid transparent;
  border-top:10px solid #fff;
  box-shadow:none;
  }
.leaflet-popup-close-button {
  text-indent:-999em;
  position:absolute;
  top:0;right:0;
  pointer-events:all;
  }
  .leaflet-popup-close-button:hover {
    background-color:#f8f8f8;
    }

.leaflet-popup-scrolled {
  overflow:auto;
  border-bottom:1px solid #ddd;
  border-top:1px solid #ddd;
  }*/

/* Всплывающее окно над маркером на карте */
.leaflet-popup-content-wrapper .custom {
    background: #2c3e50;
    color: #fff;
    /*font-size: 14px;*/
    line-height: 20px;
    height: 300px;
    width: 680px;
    min-width: 680px;
}

.leaflet-popup-content-wrapper .custom a {
    color: rgba(255,255,255,0.5);
}

/*#map .leaflet-popup-tip-container {
    width: 30px;
    height: 15px;
}

#map .leaflet-popup-tip {
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 15px solid #2c3e50;
}*/


.marker-container {
    height: 120px;
    /*width: 330px;*/
}

.hidden {
    display: none;
}


.bgimage {
    text-align:right;
    color:white;
    background-size:cover;
    height: 110px;
    /*width: ;*/
    background-position: center center;
}

ul[rn-carousel] {
    /*width:400px;*/
    height: 110px;
    margin: 0 auto;
}

.carousel5 li {
    width:100%;
    height:100%;
    font-size:30px;
    background-color: #ccc;
}

.carousel-demo {
    margin-top:20px;
    display:inline-block;
    text-align: center;
}
.carousel-demo-fullscreen {
  width:100%;
  height:100%;
}
.carousel-demo-fullscreen ul[rn-carousel] {
  width:100%;
  height:100%;
}

input.tiny {
    width:50px;
    text-align:center;
}


.carousel-demo ul[rn-carousel-transition="hexagon"] {
  margin-left:100px;
}

.custom-indicator span {
  transition: all 0.3s ease-in;
}
.custom-indicator span.active {
  color:yellow !important;
}


/* Пикер для выбора даты */
.md-datepicker-calendar-pane {
    z-index: 2000;
}

/* Выпадающий список для выбора диапазона дат */
.md-select-menu-container {
    z-index: 2000;
}

#daterange {
    width: 100%;
}