
{% extends "layout.html" %}
{% block page_title %}
Вход в систему
{% endblock %}

{% block content %}
<div class="container-narrow">
  <h1>Вход</h1>
    <br/>
    <form id="loginForm" class="form form-register" method="POST" action="" role="form">
            {{ form.hidden_tag() }}
            <div class="form-group">
                {{form.username.label}}
                {{form.username(placeholder="", class_="form-control")}}
            </div>
            <div class="form-group">
                {{form.password.label}}
                {{form.password(placeholder="", class_="form-control")}}
            </div>
            <p><input class="btn btn-default btn-submit" type="submit" value="Войти"></p>
    </form>

    <div>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul class=flashes>
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    </div>
</div>
{% endblock %}