
{% extends "layout.html" %}
{% block content %}
<div id="username" class="hidden">{{ form.username.data }}</div>
<div id="role" class="hidden">{{ form.role }}</div>
<div id="group" class="hidden">{{ form.group }}</div>

<div class="fullscreen">
    {% include 'public/components/sidebar/sidebar.html' %}
    {% include 'public/components/map.html' %}
    {% include 'public/components/alert.html' %}
<div>
{% endblock %}